In [115]:
import pandas as pd 
import numpy as np 
import plotnine as pn

In [116]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [117]:
def readfile(sheet): #takes in excel spreadsheet and reads it as it is 
    df = pd.read_excel(sheet)
    return df

In [118]:
def events(data,numofstudents):  # must take in subset of the first four rows with name of event, date of event, contributive or not, point value per event
    data = data.rename(columns={x:y for x,y in zip(data.columns,range(0,len(data.columns)))})
    evdacon = []
    for i in range(3): 
        list1 = data.T[i].to_list() 
        l = []
        for i in range(numofstudents): 
            for m in list1 : 
                l.append(m) 
        evdacon.append(l) 
            
    return evdacon

In [120]:
def points(points_data, perevent):#function takes in subset of JUST THE POINTS PART OF TABLE with yes and no and rows with point values for each event, and returns with list of 
    
    original_list = perevent.values.tolist()
    flattened = [val for sublist in original_list for val in sublist]
    
    for column in points_data.columns:
        ind = points_data.columns.get_loc(column)
        point_val = flattened[ind]
        list_of_vals = points_data[column].tolist()
        for index, item in enumerate(list_of_vals): 
            if item == "Yes":
                list_of_vals[index] = point_val
            else: 
                list_of_vals[index] = 0
        points_data[column] = list_of_vals
    
    
    
    flat = [val for sublist in points_data.values.tolist() for val in sublist]
    return flat

In [121]:
def settingup(subset, num_of_cols, checkpoint,ending,events, points): #takes in the subset of names + points columns, takes in number of points of columns, and checkpoint #
    for m, row in subset.iterrows(): 
        for i in range(num_of_cols):
            ending = ending.append({'First Name': subset.iloc[:,2].values[m], 'Last Name':subset.iloc[:,1].values[m],
                                    'Year': subset.iloc[:,0].values[m] ,'Checkpoint': checkpoint,
                                    'Points Goal (In Checkpoint)': float(subset.iloc[:,6].values[m]),
                                    'Points Earned(In Checkpoint)': float(subset.iloc[:,5].values[m]), 
                                    'Points Difference':float((subset.iloc[:,5].values[m])-(subset.iloc[:,6].values[m])), 
                                    'Good Standing': subset.iloc[:,4].values[m]}, ignore_index=True)
    ending["Event"] = events[0]
    ending["Event Date"] = events[1]
    ending["Contributive"] = events[2]
    ending["Points Recieved"] = points
    return ending

In [122]:
settingup(readfile("Book1.xlsx").iloc[5:63, np.r_[0:5,31, 32, 6:19,21,23:28]].reset_index().drop(['index'], axis=1), 19,1, 
          pd.DataFrame(columns = ["First Name", "Last Name", "Year", "Good Standing", "Checkpoint", 
                                 "Points Goal (In Checkpoint)", "Points Earned(In Checkpoint)",
                                 "Points Difference", "Event", "Event Date", "Contributive", "Points Recieved"]), 
          events(readfile("Book1.xlsx").iloc[0:4,np.r_[6:19,21,23:28]],58), 
          points(readfile("Book1.xlsx").iloc[5:63,np.r_[6:19,21,23:28]], readfile("Book1.xlsx").iloc[3:4,np.r_[6:19,21,23:28]]))
#currently working on how to do the second part of the checkpoint due to some problems with the difference and structure

,First Name,Last Name,Year,Good Standing,Checkpoint,Points Goal (In Checkpoint),Points Earned(In Checkpoint),Points Difference,Event,Event Date,Contributive,Points Recieved
0,Shivangi,Agarwal,Senior,Yes,1,21.75,29.0,7.25,Poster Sale,2019-08-19,X,0
1,Shivangi,Agarwal,Senior,Yes,1,21.75,29.0,7.25,Chapter,2019-08-20,X,0
2,Shivangi,Agarwal,Senior,Yes,1,21.75,29.0,7.25,Chapter,2019-08-27,X,0
3,Shivangi,Agarwal,Senior,Yes,1,21.75,29.0,7.25,1 Callout,2019-08-29,X,3
4,Shivangi,Agarwal,Senior,Yes,1,21.75,29.0,7.25,Extra Callout,2019-08-29,NaN,0

In [124]:
#readfile("Book1.xlsx")
#events(df.iloc[0:4,np.r_[6:19,21,23:28]])

In [131]:
#settingup(readfile("Book1.xlsx"))
#readfile("Book1.xlsx").iloc[5:63, np.r_[0:5,31, 32, 6:19,21,23:28]]
#readfile("Book1.xlsx").iloc[5:63, np.r_[0:5,56, 57, 6:19,21,23:28]]

In [132]:
#readfile("Book1.xlsx")